

<table class="table table-striped table-bordered table-hover">
    <tr class="danger">
        <th>
            Eid
        </th>
        <th>
            Employee Name
        </th>
        <th>
            Employee IN
        </th>
        <th>
            Employee OUT
        </th>

        <th></th>
    </tr>
    <tr ng-repeat="x in EmpToday">
        <td><a ng-click="getByAid(x.AID)" href="#">{{x.Eid}}</a></td>
        <td>{{x.EName}}</td>
        <td>{{x.IN | jsonDate :'medium' }}</td>
        <td>{{x.OUT | jsonDate :'medium' }}</td>

        <td><a href="#" ng-click="delEmpbyID(x.AID)"><img src="~/pic/DeleteRed.png"></a></td>
    </tr>

    @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AID })
        </td>*@


</table>
{{sampleJsonDate}}
